<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" id="login" method="POST">
        <legend>login</legend>
        <fieldset>
            <input type="text" id="longin__id" name = "nick" placeholder="nick name"><br>
            <input type="password" id="login__passwd" name="passwd" placeholder="password"><br>
            <input type="submit" value="login">
            
        </fieldset>
    </form>
    <form action="/signup" method="GET">
        <input type="submit" value="signup">
    </form>

</body>
</html>