<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    <form action="/correct_signup" id="signup" method="POST">
        <legend>signup for free</legend>
        <fieldset>
            <input type="text" id="signup__id" name="nick" placeholder="nick name"><br>
            <input type="password" id="signup__passwd1", name="password1" placeholder="passwd1"><br>
            <input type="password" id="signup__passwd2", name="password2", placeholder="passwd2"><br>
            <input type="submit" value="signup">
        </fieldset>
    </form>
</body>
</html>